{% extends 'base.html.twig' %}

{% block title %}{{meal.name}}{% endblock %}

{% block body %}

{# Partie concernant le plat #}
<h1 class="text-center mt-5">{{meal.name}}</h1>

<div class="container border-general col align-self-center mt-5 mb-5 px-4">
        

        <h2 class="card-title mb-4 text-center">A propos de ce plat</h2>

        <p class="pe-3 text-center">{{meal.description}}</p>
        <p class="pe-3 text-center"> Ce plat fait partie de notre menu "{{meal.menu.title}}" </p>
        <img src="{{asset('uploads/meal/' ~ meal.picture )}}" alt="{{meal.name}}" class="img-fluid"> 
</div>


{% endblock %}