{% extends 'dashboard.html.twig' %}

{% block title %}Modification du dessert{% endblock %}

{% block body %}
    <h1 class="mx-auto pt-4">Modification du dessert </h1>
    <div class="container mx-auto border-general mb-5">
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.menu) }}
        {{ form_row(form.description) }}
        {{ form_row(form.pictureFile) }}

        <button type="submit" class="btn btn-danger"> Sauvegarder ses changements</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_dessert_index') }}" class="btn btn-primary mt-2">Retour</a>
     </div>
{% endblock %}