{% extends 'dashboard.html.twig' %}

{% block title %}Gestion des desserts{% endblock %}

{% block body %}
<h1 class="justify-content-center mx-auto pt-4">Liste des desserts</h1>
<div class='mt-2 mb-3 d-flex justify-content-center'> 
    <a href="{{ path('admin_dessert_new')}}" class="btn btn-primary">Ajouter un dessert</a>
</div>
     <div class= 'd-flex justify-content-center'>
    {{ form(form, {'attr': {'class': 'mx-auto'}}) }}
    </div>
    {{ form_end(form) }}    

    <table class="table px-4  container table-striped table-hover">
        <thead>
            <tr>
                 <th scope="col">#</th>
                 <th scope="col">Titre</th>
                 <th scope="col">Description</th>
                 <th scope="col">Menu</th>
                 <th scope="col">Photo</th>
                 <th scope="col">Opérations</th>
            </tr>
        </thead>
        <tbody>
        {% if desserts|length > 0 %}
            {% for dessert in desserts %}
                <tr>
                    <td>{{ dessert.id }}</td>
                    <td>{{ dessert.name }}</td>
                    <td>{{ dessert.description }}</td>
                    <td>{{ dessert.menu ? dessert.menu.title : 'Pas de menu' }}</td>
                    <td>
                        <img class="img-fluid" src="/uploads/dessert/{{ dessert.picture }}" alt="{{ dessert.name }}">
                    </td>
                    <td>
                        <a href="{{ path('admin_dessert_edit', {'id': dessert.id}) }}" class="btn btn-primary mb-1"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </a>
                        <form method="post" action="{{ path('admin_dessert_delete', {'id': dessert.id}) }}" onsubmit="return confirm('Are you sure you want to delete this dessert?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dessert.id) }}">
                            <button type="submit" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="d-flex mt-4 justify-content-center">
        <p>Aucun dessert ne correspond à votre recherche.</p>
    </div>
    {% endif %}
    <div class= 'd-flex justify-content-center'>
    {{ knp_pagination_render(desserts) }}
    </div>
{% endblock %}
