{% extends 'base.html.twig' %}

{% block title %}{{dessert.name}}{% endblock %}

{% block body %}

{# Partie concernant le dessert #}
<h1 class="text-center mt-5">{{dessert.name}}</h1>

<div class="container border-general d-flex flex-column justify-content-center mt-5 mb-5 px-4">
        

        <h2 class="card-title mb-4 text-center">A propos de ce dessert</h2>

        <p class="pe-3 text-center">{{dessert.description}}</p>
        {% if dessert.allergens is not empty %}
        <p class="pe-3 text-center">
                Allergènes : {{ dessert.allergens | join(', ') }}
        </p>
        {% endif %}
        {% if dessert.menu %}
                <p class="pe-3 text-center"> Ce dessert fait partie de notre menu "{{dessert.menu.title}}" </p>
        {% else %}
                <p class="pe-3 text-center"> Ce dessert n'appartient à aucun menu pour l'instant</p>
        {% endif %}
        <img class="img-fluid" src="/uploads/dessert/{{ dessert.picture }}" alt="{{ dessert.name }}">
</div>


{% endblock %}